<!DOCTYPE html>
<html lang="en">
	<head>
		<title>AirBnB clone</title>

		<link rel="shortcut icon" href="/static/styles/images/icon.png">

		<link rel="stylesheet" href="/static/styles/4-common.css"/>
		<link rel="stylesheet" href="/static/styles/3-header.css"/>
		<link rel="stylesheet" href="/static/styles/3-footer.css"/>
		<link rel="stylesheet" href="/static/styles/6-filters.css"/>
	</head>
    <body>
		<header>
			<div id="header_logo"></div>
		</header>
		<div class="container">
			<section class="filters">
				<button>Search</button>
				<div class="locations">
					<h3>States</h3>
					<h4>&nbsp;</h4>
					<div class="popover">
						<UL>
							{% for item in states.values()|sort(attribute="name") %}
								<li><B>{{ item.name }}</B>
									<UL>
									{% for city in item.cities|sort(attribute="name") %}
										<li>{{ city.name }}</li>
									{% endfor %}
									</UL>
								</li>
							{% endfor %}
						</UL>
					</div>
				</div>
				<div class="filter_amenities">
					<h3>Amenities</h3>
					<h4>&nbsp;</h4>
					<div class="popover">
						<UL>
							{% for amenity in amenities.values()|sort(attribute="name") %}
								<li>{{ amenity.name }}</li>
							{% endfor %}
						</UL>
					</div>
				</div>
			</section>
		</div>
		<footer>
			<p>Holberton School</p>
		</footer>
	</body>
</html>
